@import "~bootstrap/scss/bootstrap";


.profile{
  width: 40%;
  position: absolute;
  left: 30%;
  top: 50px;
  z-index: 1;
  border:5px solid white;
}

.name{

  font-size: 25px;
  letter-spacing: 1px;
}
.center{
  text-align: center;
}

.dropDown{
  width: 30px;
  padding-bottom : 20px;
}

.layout{
  width: 50%;

}
.cardView{
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-body{
  padding-top: 35px;
}

.centerAround{
  display: flex;
  flex-wrap: wrap;
}

.listName{
  font-size: 25px;
  letter-spacing: 1px;
  flex: 2;
  order: 2;

}

.listAge{
  font-size: 25px;
  letter-spacing: 1px;
  padding-top: 10px;
  flex: 3;
  order: 3;
}

.listProfile{
  border: none;
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  flex: 1;
  order: 1;

}

.listDrop{
  width: 50px;
  height: 50px;
  flex: 1;
  order: 4;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
